$recording-screen-play-button-size: 3rem !default;

.recording-screen {
  .canvas-container {
    canvas {
      width: 100%;
      background-color: var(--bg-tertiary);
      border-radius: 1rem;
      transition: background-color 0.3s ease;
    }
    position: relative;
    .duration {
      border-radius: 1rem;
      padding: 0.125rem 0.75rem;
      position: absolute;
      background-color: var(--duration-bg);
      color: var(--duration-text);
      bottom: 1rem;
      right: 1rem;
      transition:
        background-color 0.3s ease,
        color 0.3s ease;
    }
  }
}

.recording-screen-play-button {
  border-radius: $recording-screen-play-button-size;
  width: $recording-screen-play-button-size;
  height: $recording-screen-play-button-size;
  display: flex;
  justify-content: center;
  background-color: var(--button-bg);
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--button-hover-bg);
  }
}
