.recording-list-screen {
  .play-arrow {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }

    span {
      color: $white;
    }
  }

  .recording {
    margin-bottom: $spacer;
  }
}
